*{
	font-family: 'Open Sans', sans-serif;
}

.login {
    background: url("../images/backgroundlogin.jpg");
    height: 600px;
    background-repeat: no-repeat;
    padding: 60px;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form{
	width: 310px;
    background-color: gold;
    border-radius: 20px;
    margin: 10px auto;
    border: 3px solid white;
    padding: 15px;
}

.btn-entrar{
    padding: 4px;
    font-size: 12px;
    background-color: white;
    border-radius: 10px; 
    border-color: white;
}

.email{
	width: 300px;
}

.senha{
	width: 300px;
}

.signup {
    background: url("../images/backgroundlogin.jpg");
    height: 600px;
    background-repeat: no-repeat;
    padding: 60px;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form{
	width: 310px;
    background-color: gold;
    border-radius: 20px;
    margin: 10px auto;
    border: 3px solid white;
    padding: 15px;
}

.btn-cadastrar{
    padding: 4px;
    font-size: 12px;
    background-color: white;
    border-radius: 10px; 
    border-color: white;
}

.email{
	width: 300px;
}

.nome{
	width: 300px;
}

.senha{
    width: 300px;
}

.telefone{
    width: 300px;
}

.endereco{
    width: 300px;
}
