.produto-individual img {
    width: 150px;
}

.produto-individual{
	text-align: center;
	margin: 15px;
	padding: 30px;
	width: 300px;
}

.produtos{
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 150px 150px;
}

.categorias{
	margin-left: 20px;
	padding: 25px;
	background-color: gold;
	border-radius: 10px; 
	float: left;
}

.paginas{
	float: none;
	text-align: center;
}

.tipo{
	padding: 10px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.btn-carrinho{
    padding: 4px;
    font-size: 12px;
    background-color: white;
    border-radius: 10px; 
    border-color: white;
}
