*{
  margin: 0;
  padding: 0;
}

.product-frame{
    width: 256px;
    height: 312px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .product-frame .imgbox{
    position: relative;
    justify-content: center;
    padding-top: 20px;
    display: flex;
    z-index: 1;
    width: 100%;
  }

  .product-frame .imgbox img{
    max-width: 100%;
  }


  .product-frame .contentbox{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .product-frame .contentbox .buybtn{
    position: relative;
    padding: 10px 30px;
    margin-top: 10px;
    color: white;
    border-radius: 30px;
    background-color: black;
  }

  /* HTML: 
    <div class="product-frame">
      <div class="imgbox">
        <img width="162" height="146" src="/images/oculos1.jpg" alt="productimg">
      </div>
      <div class="contentbox">
        <h3>Product Name</h3>
        <h2 class="price">$69.99</h2>
        <a href="#" class="buybtn">Comprar</a>
      </div>
    </div>
  */