* {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    height: 100%;
    
}

.header-logo {
    width: 100%;
    height: 244px;
    background: url("../images/v1_84.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.logo {
    opacity: 1;
    position: relative;
    top: 20px;
    text-align: center;
    overflow: hidden;
    align-items: center;
}

.logo img {
    width: 340px;
    height: 168px;
}

.logo-clickable img{
    max-width:250px;
    max-height:30px;
    width: auto;
    height: auto;
}

.header .container-fluid {
    max-width: unset;
    padding: 0px;
    width: 100%;
}

.navbar .form {
    width: 500px;
    background-color: white;
    margin-left: 50px;
}

.navbar .login-btn {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.nav-icons{
    float: right;
}


.login-btn .btn {
    color: white;
}

.mid-section-wrapperflex{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-inner{
    max-height: 600px !important;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.product-area {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 20px;
    left: 0px;
    overflow: hidden;
}

.wrapper {
    width: 315px;
    height: 881px;
    background: url("v1_106.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.coluna-cat {
    width: 313px;
    height: 882px;
    background: rgba(225, 207, 39, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.coluna-title {
    width: 174px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 48px;
    left: 69px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.categoria {
    width: 212px;
    height: 48px;
    color: rgba(0, 0, 0, 1);
    background: url("v1_111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    top: 123px;
    left: 69px;
    overflow: hidden;
}

.wrapper {
    text-align: center;
}

.navbar{
    color: black;
}
.navbar-nav{
    margin-right: 50px;
}
#navbar-items-end{
    margin-left: auto;  
}

.footer{
    background-color: rgba(225, 207, 39, 1);
    color:black;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.footer .footer-content{
    height: 250px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 20px;
}
.footer .footer-content .footer-section p{
    padding: 20px;
    font-size: small;
}

.footer .footer-content .links{
    padding: 20px;
    font-size: small;
    display: block;
}

.footer .footer-bottom{
    background-color: rgb(173, 162, 58);
    color: black;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
}

.col-6{
    padding: 0px;
    margin: 10px 30px;

}