* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_236 {
  width: 100%;
  height: 881px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_106 {
  width: 315px;
  height: 881px;
  background: url("../images/v1_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_107 {
  width: 313px;
  height: 882px;
  background: rgba(225,207,39,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_108 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_111 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 69px;
  overflow: hidden;
}
.v1_113 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_114 {
  width: 212px;
  height: 47px;
  background: url("../images/v1_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 69px;
  overflow: hidden;
}
.v1_115 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_137 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 69px;
  overflow: hidden;
}
.v1_138 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_139 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 69px;
  overflow: hidden;
}
.v1_140 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_141 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 69px;
  overflow: hidden;
}
.v1_142 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_143 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 428px;
  left: 69px;
  overflow: hidden;
}
.v1_144 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_145 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 69px;
  overflow: hidden;
}
.v1_146 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_147 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 69px;
  overflow: hidden;
}
.v1_148 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_149 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 611px;
  left: 69px;
  overflow: hidden;
}
.v1_150 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_151 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 69px;
  overflow: hidden;
}
.v1_152 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_153 {
  width: 212px;
  height: 47px;
  background: url("../images/v1_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 69px;
  overflow: hidden;
}
.v1_154 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_155 {
  width: 212px;
  height: 48px;
  background: url("../images/v1_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 69px;
  overflow: hidden;
}
.v1_156 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_203 {
  width: 100%;
  height: 612px;
  background: url("../images/v1_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 313px;
  overflow: hidden;
}
.v1_217 {
  width: 100%;
  height: 295px;
  background: url("../images/v1_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 0px;
  overflow: hidden;
}
.v1_218 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_219 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_220 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_221 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_222 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v1_223 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_224 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_225 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_226 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 764px;
  overflow: hidden;
}
.v1_227 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_228 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_229 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_204 {
  width: 100%;
  height: 295px;
  background: url("../images/v1_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_205 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_206 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_207 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_208 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_209 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v1_210 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_211 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_212 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_213 {
  width: 312px;
  height: 256px;
  background: url("../images/v1_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 764px;
  overflow: hidden;
}
.v1_214 {
  width: 125px;
  height: 146px;
  background: url("/images/oculos1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  overflow: hidden;
}
.v1_215 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 156px;
  left: 71px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_216 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
